    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>

<h1 class="Books">Books</h1>

<table class="table">
  
  <tr>
    <th class="title">Title</th>
    <th class="body">Body</th>
    <th class="show"></th>
    <th class="edit"></th>
    <th class="destroy"></th>
  </tr>
  
  <% @books.each do |b| %>
  <tr>
    <td class="title-text"><%= b.title %></td>
    <td class="body-text"><%= b.body %></td>
    <td class="button show"><%= link_to "Show", book_path(b.id) %></td>
    <td class="button edit"><%= link_to "Edit", edit_book_path(b.id) %></td>
    <td class="button destroy"><%= link_to "Destroy", book_path(b.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
  </tr>
 <% end %>
  
</table>


<div class="New">
  
  <h3 class="New-title">New book</h3>
  <%= render 'error_message', model: @book %>
  
  <div class="new-box">
    
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Body</p>
      <%= f.text_area :body %>
      <p></p>
      <%= f.submit 'Create Book' %>
    <% end %>
    
  </div>
</div>
